<!DOCTYPE html>
<html lang ="en">
<head>
<meta charset='utf-8'>
<link rel ="stylesheet" type="text/css" href="/style.css">
  <title>Hogwards</title>
</head>
<body>
<h1 class="red-header">Hogwarts students</h1> 
<%= yield %>
</body>
</html>