<form method="post" action="/students">
 <label for="first_name_field">First Name:</lable>
 <input 
 type="text"
 name="first_name"
 id="first_name_field"
 /> 

 <label for="second_name_field">Second Name:</lable>
 <input 
 type="text"
 name="second_name"
 id="second_name_field"
 /> 

 <label for="house_selection">Choose the House:</lable>
 <select name="house" id="house_selection">
   <option value="Gryffindor">Gryffindor</option>
   <option value="Ravenclaw">Ravenclaw</option>
   <option value="Hufflepuff">Hufflepuff</option>
   <option value="Slytherin">Slytherin</option>
 </select>

 <label for="age">Age:</lable>
 <input 
 type="number"
 name="age"
 id="age"
 /> 

 <input type="submit" value="Sorting Hat">

</form>

