
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #314ad6;
}

.red-header {
    color: #140477;
}

/*.first-name {
    color: #cc1512;
    font-weight: bold;
}

.second-name {
    color: #cc1512;
    font-weight: normal;
}

.house {
    color: #314ad6;
    font-weight: bold;
}

.age {
    color: #314ad6;
    font-weight: normal;
}*/